.sliding-panel
  background-color: #fff
  position: fixed
  width: 50%
  height: 100vh
  margin-top: 100px
  display: flex
  top: 0
  z-index: 99999999
  border-top: 80px solid $primary
  border-radius: 15px 0px 0 15px
  @include small
    width: 100%
    top: -100px

  &--open
    right: 0
    animation: slide-in-right .3s 1

  &--close
    right: 100%
    animation: slide-out-right 1s 1

  /*KEYFRAMES*/
  @keyframes slide-in-right
    0%
      transform: translateX(100%)
    100%
      transform: translateX(0)

  @keyframes slide-out-right
    0%
      opacity: 1
      transform: translateX(0%)
    100%
      transform: translateX(-100%)
      opacity: 0
