.sliding-panel
  background-color: #fff
  position: fixed
  width: 50%
  height: 100vh
  display: flex
  align-items: center
  top: 0
  z-index: 99999999
  transition: all .25s ease
  @include small
    width: 100%
  &--open
    right: 0
  &--close
    right: -1000px
