.navigation
  height: 100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  border-bottom: 1px solid rgba(255,255,255,0.2)
  &__wrapper
    max-width: 1920px
    padding: 0 2rem
    width: 100%
  &__logo
    flex: 1
    display: flex
    justify-content: flex-start
  &__controls
    flex: 2
    display: flex
    justify-content: flex-end
    gap: 35px
.sticky-navigation
  z-index: 9999
  height: 60px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  width: inherit
  max-width: 1920px
  &__wrapper
    position: fixed
    animation: slide-in .2s 1
    padding: 0 2rem
    width: 100%
    background-color: $secondary
    display: flex
    justify-content: center
  &__logo
    height: 35px
    img
      height: 35px

  &__controls
    flex: 2
    display: flex
    justify-content: flex-end
    gap: 35px

  /*KEYFRAMES*/
  @keyframes slide-in
    0%
      top: -80px
    100%
      top: 0

.indicator
  display: flex
  justify-content: center
  align-items: center
  &:hover
    cursor: pointer
