.navigation
  height: 100px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  border-bottom: 1px solid rgba(255,255,255,0.2)
  &__wrapper
    max-width: 1920px
    padding: 0 2rem
    width: 100%
  &__logo
    flex: 1
    display: flex
    justify-content: flex-start
  &__controls
    flex: 2
    display: flex
    justify-content: flex-end
    gap: 35px

.indicator
  display: flex
  justify-content: center
  align-items: center
  &__icon
