.button
  padding: 15px 25px
  border-radius: 10px
  background-color: transparent
  text-decoration: none
  font-weight: 600
  font-weight: 16px
  transition: all .3s ease
  width: auto
  border: 1px solid transparent
  @include small
    padding: 15px 10px
    font-size: 12px
  &--primary
    background-color: $primary
    color: #fff
    &:hover
      background-color: $primary
      color: #fff

  &--primary--outlined
    border: 1px solid $primary
    color: $primary
    &:hover
      background-color: $primary
      color: #fff
  &--secondary
    background-color: $secondary
    color: #fff
    &:hover
      background-color: #fff
      border: 1px solid #fff
      color: $secondary

  &--secondary--outlined
    color: #fff
    border: 1px solid $secondary
  &--outlined
    color: #fff
    border: 1px solid #fff
    &:hover
      background-color: #fff
      border: 1px solid $secondary
      color: $secondary
