.button
  padding: 15px 25px
  border-radius: 10px
  background-color: transparent
  text-decoration: none
  font-weight: 600
  font-weight: 16px
  transition: all .3s ease
  width: auto
  border: 1px solid transparent
  cursor: pointer
  @include small
    padding: 15px 10px
    font-size: 12px
  &--primary
    background-color: $primary
    color: #fff
    border: 1px solid #ffffff00
    &:hover
      background-color: white
      color: $primary
      border: 1px solid $primary
  &--primary-top
    background-color: $primary
    color: #fff
    border-radius: 0px 0px 20px 20px
  &--primary--left
    background-color: $primary
    color: #fff
    width: 100%
    text-align: left
    margin-bottom: 20px
    box-shadow: 5px 7px 12px 0px rgba(0,0,0,0.05)
    -webkit-box-shadow: 5px 7px 12px 0px rgba(0,0,0,0.05)
    -moz-box-shadow: 5px 7px 12px 0px rgba(0,0,0,0.05)
    @include small
      width: 100%
    &:hover
      background-color: #fff
      color: $primary
      border: 1px solid $primary

  &--primary--outlined
    border: 1px solid $primary
    color: $primary
    &:hover
      background-color: $primary
      color: #fff

  &--secondary
    background-color: $secondary
    color: #fff
    &:hover
      background-color: #fff
      border: 1px solid #fff
      color: $secondary

  &--secondary--outlined
    color: $secondary
    border: 1px solid $secondary
    &:hover
      color: #fff
      background-color: $secondary
      border: 1px solid $secondary
  &--outlined
    color: #fff
    border: 1px solid #fff
    &:hover
      background-color: #fff
      border: 1px solid $secondary
      color: $secondary
